In [1]:
# 1.Print numbers from 1 to 10.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# 2.Print even numbers from 1 to 20.
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [3]:
# 3. Print the square of each number from 1 to 10.
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [4]:
# 4. Print all characters in the string `"Python"`.
for ch in 'python':
    print(ch)

p
y
t
h
o
n

In [5]:
# 5. Print the sum of all numbers from 1 to 100.
sum=0
for num in range(1,101):
    sum+=num
print(sum)

5050

In [6]:
# 6. Count and print the number of vowels in a string.
count=0
st=input()
for ch in st:
    if ch in 'AEIOUaeiou':
        count+=1
print(count)

3

In [7]:
# 7. Print the multiplication table of a number (e.g., 7).
num=int(input("Enter a number"))
for i in range(11):
    print(f"{num} X {i} = {num*i}")

7 X 0 = 0
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [9]:
# 8. Print the reverse of a string using a loop.
st=input()
res=''
for ch in st:
    res=ch+res
print(res)

olleh

In [10]:
# 9. Print all elements of a list using a `for` loop.
list1=[1,2,3,4,5,'hello',3.14,'wave']
for i in list1:
    print(i)

1
2
3
4
5
hello
3.14
wave

In [11]:
# 10. Print all elements in a tuple using a loop.
tuple1=(1,2,3,4,5,6,7,8,9,'hello','wave')
for i in tuple1:
    print(i)

1
2
3
4
5
6
7
8
9
hello
wave

In [12]:
# 11. Print the factorial of a given number using a `for` loop.
num=int(input("Enter a number"))
fact=1
for i in range(1,num+1):
    fact*=i
print(fact)

120

In [ ]:
# 12. Print each element in a list along with its index.
list1=[1,2,3,4,5,'hello',3.14,'wave']
for i in list1:
    print(i,list1.index(i))

1 0
2 1
3 2
4 3
5 4
hello 5
3.14 6
wave 7
3 2

In [16]:
# 13. Print a pattern like:
'''
    *
    * *
    * * *
    * * * *
'''

for i in range(5):
    print(i*'* ')

*
* *
* * *
* * * *

In [17]:
# 14. Print numbers from 10 to 1 (in reverse).
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [18]:
# 15. Print all odd numbers between 1 and 50.
for i in range(1,51):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [130]:
# 16. Find the sum of digits of a given number.
num=input("Enter a number")
sum=0
for i in num:
    sum+=int(i)
if sum%2==0:
    print("even")
else:
    print("odd")

even

In [22]:
# 17. Count how many times a specific element appears in a list.
list1=[1,2,3,4,5,6,7,8,1]
char=input()
count=0
for ele in list1:
    if char==str(ele):
        count+=1
print(count)

2

In [26]:
# 18. Print all prime numbers between 1 and 50.
for num in range(2,51):
    count=0
    for i in range(2,num):
        if num%i==0:
            count+=1
    if count==0:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [28]:
# 19. Check if a string is a palindrome using a loop.
st=input()
res=''
for ch in st:
    res=ch+res
if st==res:
    print("palindrome")
else:
    print("Not a palindrome")

Not a palindrome

In [30]:
# 20. Print Fibonacci series up to n terms.
num=int(input("Enter a number"))
num1=1
num2=1
for i in range (3,num+1):
    print(num1)
    result=num1+num2
    num1=num2
    num2=result

1
1
2
3
5
8
13
21

In [3]:
# 21. Print all perfect squares between 1 and 100.

for i in range(1,101):
    for j in range(1,101):
        sq=j*j
        if sq==i:
            print(i)

1
4
9
16
25
36
49
64
81
100

In [4]:
# 22. Find the largest number in a list using a loop.
list1=[1,2,3,4,5,6,7,6,54,34,54,66,54,44,56]
largest=list1[0]

for i in list1:
    if i>largest:
        largest=i
print(largest)

66

In [5]:
# 23. Count uppercase and lowercase characters in a string.
st=input()
up=0
lw=0
for ch in st:
    if ch>='A' and ch<='Z':
        up+=1
    elif ch>='a' and ch<='z':
        lw+=1
print(up,lw)

3 3

In [15]:
# 24. Print a pattern like:
"""
    1
    1 2
    1 2 3
    1 2 3 4
    
"""
for i in range(1,5):
    print()
    j=1
    while j<=i:
        print(j,end=' ')
        j+=1

1
1 2
1 2 3
1 2 3 4

In [16]:
# 25. Print multiplication tables from 1 to 5 using nested loops.
for i in range (1,6):
    for num in range(1,11):
        print(f'{i} X {num} = {i*num}')

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
# 26. Create a list of squares for numbers from 1 to 20.
list1=[]
for i in range(1,21):
    list1.append(i*i)
print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000, 14641, 20736, 28561, 38416, 50625, 65536, 83521, 104976, 130321, 160000]

In [21]:
# 27. Remove all vowels from a given string using a loop.
st=input()
res=''
for ch in st:
    if not ch in "AEIOUaeiou":
        res=res+ch
print(res)

hll

In [22]:
# 28. Count digits, alphabets, and special characters in a string.
st=input()
dig=0
alpha=0
spc=0
for ch in st:
    if ch>='A' and ch<='Z' or ch>='a' and ch<='z':
        alpha+=1
    elif ch>='0' and ch<='9':
        dig+=1
    else:
        spc+=1
print(dig,alpha,spc,sep='\n')

4
5
4

In [26]:
# 29. Print a right-aligned triangle pattern of stars.
"""
              *
             **
            ***
           ****
          *****
"""
num=int(input("Enter a number"))
for i in range(1,num+1):
    space=num+1-i
    print(' '*space,'*'*i)

   *
  **

In [27]:
# 30. Print all 2-digit numbers where the sum of digits is 10.
for num1 in range(10):
    for num2 in range(10):
        if num1+num2==10:
            print(num1,num2)

1 9
2 8
3 7
4 6
5 5
6 4
7 3
8 2
9 1

In [29]:
# 31. Print elements of two lists side by side using a loop.
list1=['apple','banana','cherry']
list2=[100,200,300]
# for i in list1:
#     print(i,list2[list1.index(i)])

for i in range(min(len(list1),len(list2))):
    print(list1[i],list2[i])

apple 100
banana 200
cherry 300

In [30]:
# 32. Calculate the average of numbers in a list.
list1=[1,2,3,4,5,6,7,6,54,34,54,66,54,44,56]
sum=0
for i in list1:
    sum+=i
print(sum/len(list1))

26.4

In [31]:
# 33. Merge two lists using a loop.
list1=[1,2,3,4]
list2=[5,6,7,8]
res=[]
for ch in list1:
    res.append(ch)
for ch in list2:
    res.append(ch)
print(res)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 34. Find the second largest number in a list using a loop.
fl=0
sl=0
list1=[1,2,3,4,5,6,7,6,54,34,54,66,54,44,56]
for ch in list1:  #First largest Number in list
    if ch>fl:
        fl=ch
for ch in list1:    #Second Largest Number in list
    if ch<fl and ch>sl:
        sl=ch
print(fl,sl,sep='\n')

66
56

In [ ]:
# 35. Find all factors of a number using a `for` loop.
num=int(input("Enter a number"))
for i in range(1,num):
    if num%i==0:
        print(i)

1
5
17
85

In [41]:
# 36. Print all Armstrong numbers between 100 and 999.  (153)
for num in range(100,1000):
    num2=num1=num
    count=0
    sum=0
    while num>0:
        count+=1
        num=num//10
    while num1>0:
        dig=num1%10
        sum+=dig**count
        num1=num1//10
    if num2==sum:
        print(num2)

153
370
371
407

In [ ]:
# 37. Generate a Pascal’s triangle up to `n` rows.

1
2

In [51]:
# 38. Sort a list using bubble sort with a `for` loop.
list1=[1,2,3,4,5,6,7,6,54,34,54,66,54,44,56]
for _ in range(len(list1)):
    i=0
    # while i<len(list1)-1:
    for i in range(len(list1)-1):
        ch=list1[i]
        ch1=list1[i+1]
        if ch>ch1:
            list1[i],list1[i+1]=list1[i+1],list1[i]
        # i+=1
print(list1)

[1, 2, 3, 4, 5, 6, 6, 7, 34, 44, 54, 54, 54, 56, 66]

In [54]:
# 39. Find duplicate elements in a list using a `for` loop.
list1=[1,2,3,4,5,6,7,6,54,34,54,66,54,44,6,5,4,3,56]
list2=[]
dup=[]
for num in list1:
    if num in list2 and num not in dup:
        dup.append(num)
    else:
        list2.append(num)
print(dup)

[6, 54, 5, 4, 3]

In [56]:
# 40. Print the GCD of two numbers using a loop.
m=int(input("Enter a number"))
n=int(input("Enter a number"))
for i in range(1,min(m,n)):
    if m%i==0 and n%i==0:
        res=i
print(res)

6

In [ ]:
# 41. Create a histogram from character frequencies in a string.

In [59]:
# 42. Rotate a list left or right by `k` positions using loops.
list1=[1,2,3,4,5]
k=int(input())
for _ in range(k):
    last=list1[-1]
    list1.pop()
    list1.insert(0,last)
print(list1)

[1, 2, 3, 4, 5]

In [72]:
# 43. Create a matrix (nested list) and print its transpose using `for` loops.
list1=[
  [7, 8],
  [9, 10],
  [11, 12]
]

res=[]
for i in range(0,len(list1[0])):
    list2=[]
    for j in range(0,len(list1)):
        li=list1[j]
        list2.append(li[i])
    res.append(list2)
print(res)

[[7, 9, 11], [8, 10, 12]]

In [74]:
# 44. Print the Collatz sequence for a number.
num=int(input("Enter a number"))
while num!=1:
    if num%2==0:
        num=num//2
    else:
        num=3*num+1
    print(num)

10429570396
5214785198
2607392599
7822177798
3911088899
11733266698
5866633349
17599900048
8799950024
4399975012
2199987506
1099993753
3299981260
1649990630
824995315
2474985946
1237492973
3712478920
1856239460
928119730
464059865
1392179596
696089798
348044899
1044134698
522067349
1566202048
783101024
391550512
195775256
97887628
48943814
24471907
73415722
36707861
110123584
55061792
27530896
13765448
6882724
3441362
1720681
5162044
2581022
1290511
3871534
1935767
5807302
2903651
8710954
4355477
13066432
6533216
3266608
1633304
816652
408326
204163
612490
306245
918736
459368
229684
114842
57421
172264
86132
43066
21533
64600
32300
16150
8075
24226
12113
36340
18170
9085
27256
13628
6814
3407
10222
5111
15334
7667
23002
11501
34504
17252
8626
4313
12940
6470
3235
9706
4853
14560
7280
3640
1820
910
455
1366
683
2050
1025
3076
1538
769
2308
1154
577
1732
866
433
1300
650
325
976
488
244
122
61
184
92
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2
1

In [78]:
# 45. Check if a number is a tech number using digit manipulation.
num=int(input("Enter a number"))
num1=num2=num
threshold=0
count=0
while num>0:
    count+=1
    num=num//10
if count%2==0:
    threshold=count/2
    first=num1//10**threshold
    second=num1%10**threshold
    sum=(first+second)**2
    if sum==num2:
        print("Tech number")
    else:
        print("Not a tech number")

Not a tech number

In [89]:
# 46. Print all palindrome words in a sentence.
st=input()

res=''
for ch in st:
    if ch==' ':
        word=''
        for char in res:
            word=char+word
        if res==word:
            print(res)
            res=''
    else:
        res=res+ch
if res!='':
    word=''
    for char in res:
        word=char+word
    if res==word:
        print(res)

worow

In [ ]:
# 47. Find the LCM of two numbers using a `for` loop.
n=int(input("Enter a number"))
m=int(input("Enter a number"))

for i in range(max(m,n),(m*n)):
    if i%m==0 and i%n==0:
        print(i)
        break

48
96
144

In [115]:
# 48. Generate a pattern like:
"""
        1
      1 2 1
    1 2 3 2 1
"""
for i in range(1,5):
    print()
    space=(5-i)*2
    j=1
    print(' '*space,end='')
    while j<i:
        print(j,end=' ')
        j+=1
    while j>0:
        print(j,end=' ')
        j-=1

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1

In [132]:
# 49. Write a loop to simulate and count steps in the “100 doors problem.”
doors= {i: False for i in range(1, 101)}
count=0

for i in range(1,101):
    for j in range(1,101):
        if j%i==0:
            doors[j]=not doors[j]
            count+=1
list1=[key for key,value in doors.items() if value==True]

print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [126]:
# 50. Write a loop to convert a number into binary without using `bin()`.
num=int(input("Enter a number"))
binary=''
while num>0:
    dig=num%2
    binary=str(dig)+binary
    num=num//2
print(binary)

1100100