In [2]:
print(70,80,90,'\n',50, 60, 40)

70 80 90
 50 60 40

In [3]:
r=1
while r<=3:
    c=1
    while c<=3:
        print('*',end=' ')
        c+=1
    r+=1
    print()

* * *
* * *
* * *

In [17]:
def check_prime(num):
    i=1
    count=0
    while i<=num:
        if num%i==0:
            count+=1
        i+=1
    return count==2
r=1
n=1
while r<=3:
    c=1
    while c<=3:
        i=1
        count=0
        while i<=n:
            if n%i==0:
                count+=1
            i+=1
        if count==2:
            print(n,end=' ')
            c+=1
        n+=1
    print()
    r+=1

2 3 5
7 11 13
17 19 23

In [15]:
r=1
i=1
while r<=4:
    c=1
    while c<=4:
        if i%2!=0:
            print(i,end=' ')
            c+=1
        i+=1
       
    r+=1
    print()

1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

In [4]:
n=1
for i in range(1,4):
    for j in range(1,4):
        for k in range(n+1,1000):
            n=k
            count=0
            for l in range(1,k+1):
                if k%l==0:
                    count+=1
            if count==2:
                print(k,end=' ')
                break
    print()

2 3 5
7 11 13
17 19 23

In [14]:
temp1='A'
for i in range(1,5):
    temp=temp1
    for j in range(1,5):
        print(temp,end=' ')
        temp=chr(ord(temp)+4)
    print()
    temp1=chr(ord(temp1)+1)

A E I M
B F J N
C G K O
D H L P

In [2]:
i=range(0,4)
print(list(i))

[0, 1, 2, 3]

In [7]:
i=range(4,0,-10)
print(list(i))

[4]

In [9]:
i=range(0,10,2)
print(list(i))

[0, 2, 4, 6, 8]

In [11]:
num=1
alpha='a'
for i in range(1,5):
    for j in range(1,3):
        print(num,alpha,end=' ')
        num+=1
        alpha=chr(ord(alpha)+1)
    print()

1 a 2 b
3 c 4 d
5 e 6 f
7 g 8 h

In [12]:
for i in range(1,5):
    for j in range(1,5):
        print(j,end=' ')
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [13]:
for i in range(1,5):
    alpha='A'
    for j in range(1,5):
        print(alpha,end=' ')
        alpha=chr(ord(alpha)+1)
    print()

A B C D
A B C D
A B C D
A B C D

In [20]:

for i in range(1,6):
    for j in range(1,6):
        if i+j==6 or i==j:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*       *
  *   *
    *
  *   *
*       *

In [ ]:
a='A'
b='A'
print(id(b))
b='c'
# print(id(a))
print(id(b))

140712559524320
140712559525952

ASSIGNMENT

In [3]:
# 1.WAP to print 
'''
      *
    * *
  *   *
* * * *
'''
for i in range(1,5):
    for j in range(1,5):
        if i==4 or j==4 or i+j==5:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

      *
    * *
  *   *
* * * *

In [7]:
# 2.WAP to print 
'''
*
* *
*   *
* * * *
'''
for i in range(1,5):
    for j in range(1,5):
        if i==4 or j==1 or i==j:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
* * * *

In [8]:
# 3.WAP to print 
'''
* * * *
*   *
* *
*
'''
for i in range(1,5):
    for j in range(1,5):
        if i==1 or j==1 or i+j==5:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * *
*   *
* *
*

In [9]:
# 4.WAP to print 
'''
* * * *
  *   *
    * *
      *
'''
i=1
while i<5:
    j=1
    while j<5:
        if i==1 or j==4 or i==j:
            print('*',end=' ')
        else:
            print(' ',end=' ')
        j+=1
    i+=1
    print()

* * * *
  *   *
    * *
      *

In [ ]:
# 5.WAP to print 
'''
1
  2
    3
      4
        5
'''
for i in range(1,6):
    for j in range(1,6):
        if i==j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

1
  2
    3
      4
        5

In [15]:
# 6.WAP to print 
'''
        A
      B
    C
  D
E
'''
alpha='A'
for i in range(1,6):
    for j in range(1,6):
        if i+j==6:
            print(alpha,end=' ')
            alpha=chr(ord(alpha)+1)
        else:
            print(' ',end=' ')
    print()

        A
      B
    C
  D
E

In [ ]:
# 7.WAP to print 
'''
1  2  3 4
5       6
7       8
9 10 11 12
'''
n=1
for i in range(1,5):
    for j in range(1,5):
        if i==1 or i==4 or j==1 or j==4:
            print(n,end=' ')
            n+=1
        else:
            print(' ',end=' ')
    print()

1 2 3 4
5     6
7     8
9 10 11 12

In [21]:
# 8.WAP to print 
'''
1
2 3
4   5
6 7 8 9
'''
n=1
for i in range(1,5):
    for j in range(1,5):
        if j==1 or i==4 or i==j:
            print(n,end=' ')
            n+=1
        else:
            print(' ',end=' ')
    print()

1
2 3
4   5
6 7 8 9

In [ ]:
# 9.WAP to print 
'''
a b c d
  e   f
    g h
      i
'''
alpha='a'
for i in range(1,5):
    for j in range(1,5):
        if i==j or i==1 or j==4:
            print(alpha,end=' ')
            alpha=chr(ord(alpha)+1)
        else:
            print(' ',end=' ')
    print()

a b c d
  e   f
    g h
      i

In [ ]:
# 10.WAP to print 
'''
A       1
  B   2
    C
  3   D
4       E
'''
num=1
alpha='A'
for i in range(1,6):
    for j in range(1,6):
        if i==j:
            print(alpha,end=' ')
            alpha=chr(ord(alpha)+1)
        elif i+j==6:
            print(num,end=' ')
            num+=1
        else:
            print(' ',end=' ')
    print()

A       1
  B   2
    C
  3   D
4       E

In [2]:
# 11.WAP to print 
'''
* * * * *
*       *
* * * * *
*       *
* * * * *
'''
for i in range(1,6):
    for j in range(1,6):
        if j==1 or j==5 or i%2!=0:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*       *
* * * * *
*       *
* * * * *

In [3]:
# 12.WAP to print 
'''
* * * * *
*   *   *
*   *   *
*   *   *
* * * * *
'''
for i in range(1,6):
    for j in range(1,6):
        if i==1 or i==5 or j%2!=0:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*   *   *
*   *   *
*   *   *
* * * * *

In [4]:
# 13.WAP to print 
'''
* * * * *
*   *   *
* * * * *
*   *   *
* * * * *
'''
for i in range(1,6):
    for j in range(1,6):
        if i%2!=0 or j%2!=0:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*   *   *
* * * * *
*   *   *
* * * * *

In [7]:
# 14.WAP to print 
'''
1 2 3 4 5
6   7   8
9 1 2 3 4
5   6   7
8 9 1 2 3
'''
num=1
for i in range(1,6):
    for j in range(1,6):
        if i%2!=0 or j%2!=0:
            print(num,end=' ')
            num+=1
        else:
            print(' ',end=' ')
        if num>9:
            num=1
    print()

1 2 3 4 5
6   7   8
9 1 2 3 4
5   6   7
8 9 1 2 3

In [8]:
# 15.WAP to print 
'''
5
  4
    3
      2
        1
'''
for i in range(5,0,-1):
    for j in range(5,0,-1):
        if i==j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

5
  4
    3
      2
        1

In [17]:
# WAP to print 
'''
*
* *
* * *
* * * *
* * *
* *
*
'''
for i in range(1,5):
    for j in range(1,5):
        if i>=j:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()
for i in range(1,4):
    for j in range(1,4):
        if i+j<=4:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [16]:
# 1.WAP TO print Solid square of `*` (5x5) 
# *****
# *****
# *****
# *****
# *****
i=0
while i<5:
    j=0
    while j<5:
        print('*',end='')
        j+=1
    i+=1
    print()

*****
*****
*****
*****
*****

In [17]:
# 2.WAP TO print Hollow square of `*` (5x5) 
# *****
# *   *
# *   *
# *   *
# *****

i=0
while i<5:
    j=0
    while j<5:
        if i==0 or i==4:
            print('*',end='')
        elif j==0 or j==4:
            print('*',end='')
        else:
            print(' ',end='')
        j+=1
    i+=1
    print()

*****
*   *
*   *
*   *
*****

In [22]:
# 3.WAP TO print Square with diagonal elements as `*`, rest as space 
# *     *
#  *   *
#    *
#  *   *
# *     *
i=0
dummy=4
while i<5:
    j=0
    while j<5:
        if i==j or i==j-dummy:
            print('*',end='')
        else:
            print(' ',end='')
        j+=1
    dummy-=2
    i+=1
    print()

*   *
 * *
  *
 * *
*   *

In [24]:
# 4.WAP TO print Right-angled triangle using `*` 
# *
# **
# ***
# ****
# *****
for i in range(6):
    print('*'*i)

*
**
***
****
*****

In [25]:
# 5.WAP TO print Inverted right-angled triangle using `*` 
# *****
# ****
# ***
# **
# *
for i in range(5,0,-1):
    print('*'*i)

*****
****
***
**
*

In [32]:
# 6.WAP TO print Full pyramid using `*` 
#       *
#      ***
#     *****
#    *******
#   *********
space=4
for i in range(1,10,2):
    print(' '*space+'*'*i)
    space-=1

    *
   ***
  *****
 *******
*********

In [37]:
# 7.WAP TO print Inverted full pyramid using `*` 
# *********
#  *******
#   *****
#    ***
#     *
n=9
space=1
for i in range(n,0,-2):
    print(' '*space+'*'*i)
    space+=1

 *********
  *******
   *****
    ***
     *

In [50]:
# 8.WAP TO print Diamond Pattern (Size = 5) 
#       * 
#      *** 
#     ***** 
#    ******* 
#   *********
#    ******* 
#     ***** 
#      *** 
#       * 
size=5
space=10
i=1
while i<size*2:
    print(' '*space+'*'*i)
    i+=2
    space-=1
while i>0:
    print(' '*space+'*'*i)
    i-=2
    space+=1

          *
         ***
        *****
       *******
      *********
     ***********
      *********
       *******
        *****
         ***
          *

In [ ]:
# 9.WAP TO print Hollow Diamond Pattern 
#       * 
#      * * 
#     *   * 
#    *     * 
#   *       *
#    *     * 
#     *   * 
#      * * 
#       *

In [ ]:
# 10.WAP TO print Square Number Pattern
# Question: Print a square where each row contains the same number from 1 to n.
# Input: n = 4
# Output:
# 11111
# 22222
# 33333
# 44444

In [ ]:
# 11.WAP to print Question: Print a square where each row contains numbers from 1 to `n`.
# Input: n = 4
# Output:
# 12345
# 12345
# 12345
# 12345

In [ ]:
# 12.WAP to print Hollow Number Square
# Question: Print a hollow square with numbers at the border and space inside.
# Input: n = 5
# Output:
# 12345
# 1   5
# 1   5
# 1   5
# 12345

In [ ]:
# 13.WAP to print Alternating 1s and 0s
# Question: Print a square pattern with alternating 1s and 0s like a chessboard.
# Input: n = 5
# Output:
# 10101
# 01010
# 10101
# 01010
# 10101

In [ ]:
# 14.WAP to print Sum of Indices Pattern
# Question: Print a square where each cell contains the sum of row and column indices (starting from 
# 0).
# Input: n = 4
# Output:
# 0 1 2 3
# 1 2 3 4
# 2 3 4 5
# 3 4 5 6

In [ ]:
# 15.WAP to print Number Triangle
# Question: Print a triangle with increasing numbers in each row.
# Input: n = 5
# Output:
# 1
# 12
# 123
# 1234
# 12345

In [ ]:
# 16.WAP to print Inverted Number Triangle
# Question: Print a triangle with decreasing numbers in each row.
# Input: n = 5
# Output:
# 12345
# 1234
# 123
# 12
# 1

In [ ]:
# 17.WAP to print Floyd's Triangle
# Question: Print Floyd's triangle with continuous numbers.
# Input: n = 5
# Output:
# 1
# 2 3
# 4 5 6
# 7 8 9 10
# 11 12 13 14 15

In [ ]:
# 18.WAP to print Number Pyramid
# Question: Print a centred pyramid of increasing numbers.
# Input: n = 5
# Output:
#       1
#      121
#     12321
#    1234321
#   123454321

In [ ]:
# 19.WAP to print inverted Number Pyramid
# Question: Print an inverted number pyramid with decreasing width.
# Input: n = 5
# Output:
# 123454321
#  1234321
#   12321
#    121
#     1

In [ ]:
# 20.WAP to print Alphabet Pyramid
# Question: Print a centred pyramid with alphabets increasing in each row.
# Input: n = 5
# Output:
#       A
#      ABA
#     ABCBA
#    ABCDCBA
#   ABCDEDCBA

In [ ]:
# 21.WAP to print Inverted Alphabet Pyramid
# Question: Print an inverted pyramid with alphabets decreasing in each row.
# Input: n = 5
# Output:
# ABCDEDCBA
#  ABCDCBA
#   ABCBA
#    ABA
#     A

In [ ]:
# 22.WAP to print Floyd's Triangle in Pyramid Form
# Question: Print Floyd's triangle shaped as a pyramid.
# Input: n = 5
# Output:
#       1
#      2 3
#     4 5 6
#    7 8 9 10
#  11 12 13 14 15

In [ ]:
# 23.WAP to print Odd Number Pyramid
# Question: Print a pyramid where each row contains increasing odd numbers.
# Input: n = 5
# Output:
#     1
#    3 5
#   7 9 11
#  13 15 17 19
# 21 23 25 27 29

In [ ]:
# 24.WAP to print Even Number Pyramid
# Question: Print a pyramid where each row contains increasing even numbers.
# Input: n = 5
# Output:
#     2
#    4 6
#   8 10 12
#  14 16 18 20
# 22 24 26 28 30

In [ ]:
# 25.WAP to print Number Diamond
# Print a diamond pattern with fixed number in each row.
# Input: n = 3
# Output:
#   1
#  222
# 33333
#  222
#   1

In [ ]:
# 26.WAP to Print a diamond pattern using only numbers increasing by 1 on each line.
# Input: n = 3
# Output:
#   1
#  123
# 12345
#  123
#   1

In [ ]:
# 27.WAP to print Character Diamond
# Print a diamond pattern using alphabets increasing row-wise (A to E).
# Input: n = 3
# Output:
#   A
#  BBB
# CCCCC
#  BBB
#   A

In [ ]:
# 28.WAP to Print a diamond pattern where each row contains consecutive alphabets.
# Input: n = 3
# Output:
#   A
#  ABC
# ABCDE
#  ABC
#   A

In [ ]:
# 29.WAP to print Zigzag Number Pattern in Square
# Input: 4
# Output:
# 1 2 3 4
# 8 7 6 5
# 9 10 11 12
# 16 15 14 13

In [ ]:
# 30.WAP to print Pascal's Triangle (Number Pattern)
# Input: 5
# Output:
#       1
#      1 1
#     1 2 1
#    1 3 3 1
#   1 4 6 4 1

In [ ]:
# 31.WAP to print Palindromic Number Triangle
# Input: 5
# Output:
#         1
#       1 2 1
#     1 2 3 2 1
#   1 2 3 4 3 2 1
# 1 2 3 4 5 4 3 2 1

In [ ]:
# 32.WAP to print Alphabet Palindromic Pyramid
# Sample Input: 5
#         A
#       A B A
#     A B C B A
#   A B C D C B A
# A B C D E D C B A

In [ ]:
# 33.WAP to print Number Mirror Pyramid
# Sample Input: 5
#         1
#       2 1 2
#     3 2 1 2 3
#   4 3 2 1 2 3 4
# 5 4 3 2 1 2 3 4 5

In [ ]:
# 34.WAP to print Alternating Character Pyramid
# Sample Input: 5
#         A
#       1 A 1
#     A 1 A 1 A
#   1 A 1 A 1 A 1
# A 1 A 1 A 1 A 1 A

In [ ]:
# 35.WAP to print Hollow Number Pyramid
# Sample Input: 5
#         1
#       2   2
#     3       3
#   4           4
# 5 5 5 5 5 5 5 5 5

In [ ]:
# 36.WAP to print Zig-Zag Alphabet Pyramid
# Sample Input: 5
# A
#  B C
#   D E F
#    G H I J
#     K L M N O

In [ ]:
# 37.WAP to print Alphabet Full Diamond
# Sample Input: 5
#     A
#    ABA
#   ABCBA
#  ABCDCBA
# ABCDEDCBA
#  ABCDCBA
#   ABCBA
#    ABA
#     A

In [ ]:
# 38.WAP to print Hollow Diamond with Alphabets
# Sample Input: 5
#       A
#      B B
#     C   C
#    D     D
#   E       E
#    D     D
#     C   C
#      B B
#       A

In [ ]:
# 39.WAP to print Double-Sided Number Diamond
# Sample Input: 5
#         1
#       2 1 2
#     3 2 1 2 3
#   4 3 2 1 2 3 4
# 5 4 3 2 1 2 3 4 5
#   4 3 2 1 2 3 4
#     3 2 1 2 3
#       2 1 2
#         1

In [ ]:
# 40.WAP to print Number Hourglass
# Sample Input: 5
# 5 4 3 2 1 2 3 4 5
#   4 3 2 1 2 3 4
#     3 2 1 2 3
#       2 1 2
#         1
#       2 1 2
#     3 2 1 2 3
#   4 3 2 1 2 3 4
# 5 4 3 2 1 2 3 4 5

In [ ]:
# 41.WAP to print Alphabet Hourglass
# Sample Input: 5
# E D C B A B C D E
#   D C B A B C D
#     C B A B C
#       B A B
#         A
#       B A B
#     C B A B C
#   D C B A B C D
# E D C B A B C D E

In [ ]:
# 42.WAP to print Hollow Hourglass with Alphabets
# Sample Input: 5
# A B C D E D C B A
#   B           B
#     C       C
#       D   D
#         E
#       D   D
#     C       C
#   B           B
# A B C D E D C B A