In [ ]:
#Tuple into respective datatypes

t=(1,2,2,1,2,4,5,3,2,4,4)

print(str(t))
print(list(t))
print(set(t))
print(frozenset(t))
# print(range(t))

# print(dict(t)) #TypeError: cannot convert dictionary update sequence element #0 to a sequence

t1=([1,2],("Hello","yar"),{"again hello","again Yar"})
print(dict(t1))

(1, 2, 2, 1, 2, 4, 5, 3, 2, 4, 4)
[1, 2, 2, 1, 2, 4, 5, 3, 2, 4, 4]
{1, 2, 3, 4, 5}
frozenset({1, 2, 3, 4, 5})

TypeError: 'tuple' object cannot be interpreted as an integer

In [ ]:
#To convert set into respective datatypes

s={1,2,3,"hello",3,2,1}
print(str(s))
print(list(s))
print(tuple(s))

# for dictionary we need two sets of any sequence

s1={(1,2),("hello","bro")}
print(dict(s1))

{2, 1, 'hello', 3}
[2, 1, 'hello', 3]
(2, 1, 'hello', 3)
{1: 2, 'hello': 'bro'}

In [5]:
#To convert dictionary into respective datatypes.

d={1:2,"Hello":"bro","Hii":'someone'}
print(str(d))
#To get the values indictionary
print(list(d.values()))

print(list(d.items())[0]) #to get items from dictionary

print(list(d))
print(tuple(d))
print(set(d))
print(frozenset(d))

{1: 2, 'Hello': 'bro', 'Hii': 'someone'}
[2, 'bro', 'someone']
(1, 2)
[1, 'Hello', 'Hii']
(1, 'Hello', 'Hii')
{'Hii', 1, 'Hello'}
frozenset({'Hii', 1, 'Hello'})

In [11]:
s=range(0,6)
print(str(s))
print(list(s))
print(tuple(s))
print(set(s))
# print(dict(s))

range(0, 6)
[0, 1, 2, 3, 4, 5]
(0, 1, 2, 3, 4, 5)
{0, 1, 2, 3, 4, 5}

In [14]:
#To convert dict into other respective types

dict1={'sit':'stand',"beautiful":'ugly','good':'bad','white':'black','tall':'short'}
print(str(dict1))
print(list(dict1))
print(tuple(dict1))
print(set(dict1))
print(dict(dict1))

{'sit': 'stand', 'beautiful': 'ugly', 'good': 'bad', 'white': 'black', 'tall': 'short'}
['sit', 'beautiful', 'good', 'white', 'tall']
('sit', 'beautiful', 'good', 'white', 'tall')
{'sit', 'tall', 'beautiful', 'white', 'good'}
{'sit': 'stand', 'beautiful': 'ugly', 'good': 'bad', 'white': 'black', 'tall': 'short'}

In [8]:
t=({1,2},4,5)
print(t,type(t))

({1, 2}, 4, 5) <class 'tuple'>

In [17]:
scores=[1,45,67,34,34,23,345,6,"hello",4.56,True]
print(scores[:])
print(scores[::-1])
print(scores[::2])
print(scores[:-5:-3])
print(scores[50::-50])

[1, 45, 67, 34, 34, 23, 345, 6, 'hello', 4.56, True]
[True, 4.56, 'hello', 6, 345, 23, 34, 34, 67, 45, 1]
[1, 67, 34, 345, 'hello', True]
[True, 6]
[True]

In [30]:
set1=(23,54,8,3.14,"vamshi",'rahul',False,[1,2,3,4,5,6])
print(set1[7][::-2])
print(set1[::7])
print(set1[:6:-1])
print(set1[5:4:-1])
print(set1[8:-2:1])
print(set1[2:6:3])

[6, 4, 2]
(23, [1, 2, 3, 4, 5, 6])
([1, 2, 3, 4, 5, 6],)
('rahul',)
()
(8, 'rahul')

In [37]:
dict1={1,2}
print(dict1[0])

TypeError: 'set' object is not subscriptable

In [17]:
#SLICING

st='PERIOD IS GOING TO END NOW'

print(st[:])
print(st[::-1])
print(st[::-2])
print(st[:10])

PERIOD IS GOING TO END NOW
WON DNE OT GNIOG SI DOIREP
WNDEO NO IDIE
PERIOD IS

In [21]:
# print("hello world")
s=range(0,6)
print(s[0])
s[0]=7
print(s)

0

TypeError: 'range' object does not support item assignment

In [ ]:
#MULTI VALUED DATATYPES

# 1.LIST (MUTABLE), (INDEXING), (ORDERED)
# 2.STRING (IMMUTABLE),(INDEXING)
# 3.TUPLE (IMMUTABLE),(INDEXING)
# 4.SET (MUTABLE),(NO INDEXING) (UNORDERED) (NO DUPLICATES) (STORES ONLY IMMUTABLES(NOT LIST,SET,DICT)) $$HASH CODE CONCEPT
# 5.FROZENSET (IMMUTABLE),(NO INDEXING) (UNORDERED) (NO DUPLICATES)
# 6.RANGE (IMMUTABLE),(NO INDEXING)
# 4.DICTIONARY (MUTABLE),(NO INDEXING) (KEYS ARE IMMUTABLE) (VALUES CAN BE ANY TYPE)

In [26]:
tuple1=(1,2,3,4,[11,22,33])
tuple1[4][0]='hello'
print(tuple1[0])
print(tuple1)

1
(1, 2, 3, 4, ['hello', 22, 33])

In [4]:
num1=int(input())
num2=int(input())
store=0
if num1>num2:
    num=num2
else:
    num=num1
i=1
while i <= num:
    if num1%i==0 and num2%i==0:
        if i>=store:
            store=i
    i+=1
print(store)

1

In [5]:
num=int(input())
count=0
while count!=1:
    sum=0
    count=0
    while num>0:
        digit=num%10
        sum+=digit
        count+=1
        num=num//10
    num=sum
print(sum)

4